[toolchain]
package_manager = "bun"

[features]
resolution = true
skip-lint = false

[programs.localnet]
prediction_market = "D2CgiFkSd8yk5dZif9V7JSgUs9teAdrRcCYcZ2f53ivJ"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "bun run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
